%h2= @play.title
%h3= @play.director
%p= @play.description

- if user_signed_in? && @play.user_id == current_user_id
  = link_to "Edit", edit_play_path(@play)
  = link_to "Delete", @play,method: :delete, data: {:confirm => "Are you sure?"}